
  <%- include('./partials/head.ejs') %>
  <%- include('./partials/nav.ejs') %> 
  <h2>Our Site</h2>
  <p>Enim eiusmod qui velit amet veniam laboris enim nostrud eiusmod. Aute irure amet aute ut irure do et minim culpa par
    lore adipisicing excepteur. Commodo laboris reprehenderit in commodo cupidatat ipsum duis ut proident. A
    ute deserunt eiusmod ipsum aliquip id. Labore amet anim eu magna excepteur nulla nostrud dolor nostrudoriatur. Veniam id rep
    dolor. Dolor quis aliqua nulla deserunt laboris sunt qui tempor proident irure culpa. Sint reprehenderit aute ut magna.
    Ut pariatur mollit fugiat velit sint exercitation quis. Non laborum elit eu occaecat ex labore consequat al
    iqua fugiat mollit reprehenderit. Quis amet eiusmod mollit eu reprehenderit non culpa ea nostrud cillum rmprehenderit ali
    eprehenderit et Culpa esse ad sint commodo cillum in consectetur voluptate veniam dolor deserunt aliqua. Dolor et 
    adipisicing quis dolore dolor aliquip elit minim voluptate est et. Ipsum labore tempor aliquip p tequip ali ipsum ipsum.
    Adipisicing magna sunt ad minim veniam elit officia laborum. Mollit sunt elit nostrud deserunt sint labore
    excepteur elit adipisicing. Cillum aute reprehenderit eiusmod id quis. Eiusmod do velit aliqua sint ea ali
    qua est aute fugiat aliqua sint et in. Quis ad aliquip amet reprehenderit ipsum commodo proident exercilabore velit erud aliqui
    tation commodo. Sint enim velit deserunt sint labore in aute nulla Lorem laborum pariatur consequat. Esse qu
    is id consectetur reprehenderit nostrud commodo incididunt.giat id Lorem eu nst pariatur ofuon eccaecat por. Quis occaecat 
    Reprehenderit do deserunt consectetur aute officia amet labore aliqua non exercitation. Magna nisi minim n
    ostrud non amet ea exercitation proident deserunt sunt Lorem. Anim do deserunt incididunt mollit laboris  nisi qui nisi
    adipisicing quis officia aute veniam exercitation. Aute do anim tempor sint eu magna laborum temcommodo velit id.
    Excepteur elit ea sint nulla pariatur id. Enim eu pariatur mollit amet qui adipisicing culpa elit cillunt veniamuis magna
    .Do enim dolor amet ut. Irure minim ut ipsum deserunt laboris incididunt aliquip non cillum exercnostrillit enim adi
    n elit. Occaecat exercitation laboris esse duis est officia esse adipisicing mollit ut minim consequat elit alud.
    Ullamco culpa voluptate velit sunt dolore id occaecat ipsum laboris dolor sit cillum. Fugiat laborum sint Lorem
  </p>
<%- include('./partials/footer.ejs') %> 
